

<div class="row" >
<div class="col-md-3">
  <h2>Best styles</h2>
  <%= render 'best', top_breweries: @top_styles %>
</div>
<div class="col-md-3">
  <h2>Best beers</h2>
  <%= render 'best', top_breweries: @top_beers %>
</div>
<div class="col-md-3">
  <h2>Most active users</h2>
  <%= render 'best', top_breweries: @top_users %>
</div>

<div class="col-md-3">
  <h2>Best breweries</h2>
  <%= render 'best', top_breweries: @top_breweries %>
</div>
</div>
<p>

  <h2>Last five Ratings</h2>
  <%= render 'list', ratings: @new_ratings %>

</p>
<h2>List of all ratings</h2>

<p>
  Number of ratings <%= @ratings.count %>
</p>
<p>
  <%= render 'list', ratings: @ratings %>
</p>

<%= link_to 'new rating', new_rating_path, class:'btn btn-default' %>