


<p>
  <h2>Best styles</h2>
  <=% @top_styles %>
</p>
<p>
  <h2>Best beers</h2>
  <%= render 'best', top_breweries: @top_beers %>
</p>
<p>
  <h2>Most active users</h2>
  <%= render 'best', top_breweries: @top_users %>
</p>

<p>
  <h2>Best breweries</h2>
  <%= render 'best', top_breweries: @top_breweries %>
</p>
<p>
  <h2>Last five Ratings</h2>
  <%= render 'list', ratings: @new_ratings %>

</p>
<h2>List of all ratings</h2>

<p>
  Number of ratings <%= @ratings.count %>
</p>
<p>
  <%= render 'list', ratings: @ratings %>
</p>

<%= link_to 'new rating', new_rating_path, class:'btn btn-default' %>